apiVersion: operator.victoriametrics.com/v1beta1
kind: VMSingle
metadata:
  name: overwatch
  namespace: vm
spec:
  extraArgs:
    maxLabelsPerTimeseries: "50"
  storage:
    accessModes:
      - ReadWriteOnce
    resources:
      limits:
        cpu: 250m
        memory: 3000Mi
      requests:
        cpu: 250m
        memory: 500Mi
        storage: 50Gi
