# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Allure results
.allure/
allure-results/
allure-report/

crust-gather/
tests/crust-gather.tar.gz
**/exports/

# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfplan
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Local .terraformignore (if used)
.terraformignore

# Local binari
bin/
