version: 2.1

orbs:
  go: circleci/go@3.0.3
  gke: circleci/gcp-gke@2.3.0
  gcp-cli: circleci/gcp-cli@3.3.2
  terraform: circleci/terraform@3.7.0
  node: circleci/node@5.0.2

executors:
  go-executor:
    docker:
      - image: cimg/go:1.25
  machine-executor:
    machine:
      image: ubuntu-2204:current
    resource_class: large

jobs:
  unit-tests:
    executor: go-executor
    steps:
      - checkout
      - run:
          name: Download go packages
          command: go mod download
      - run:
          name: Run unit tests
          command: go test ./pkg/... -v -failfast

  kind-smoke-test:
    executor: machine-executor
    parameters:
      vm_version:
        type: string
    environment:
      LABEL_FILTER: kind
    steps:
      - checkout
      - run: go mod download
      - run: go install github.com/onsi/ginkgo/v2/ginkgo@latest
      - run:
          name: Install kubectl
          command: |
              curl -LO "https://dl.k8s.io/release/v1.35.0/bin/linux/amd64/kubectl"
              chmod +x kubectl
              sudo mv kubectl /usr/local/bin/kubectl
      - run:
          name: Install helm
          command: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - run:
          name: Create Kind cluster
          command: |
            curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
            chmod +x ./kind
            sudo mv ./kind /usr/local/bin/kind
            kind create cluster --config manifests/kind.yaml
      - run:
          name: Add helm repo
          command: |
            helm repo add vm https://victoriametrics.github.io/helm-charts/
            helm repo update
      - run:
          name: Install crust-gather
          command: |
            wget https://github.com/crust-gather/crust-gather/releases/download/v0.11.1/kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            tar -xvf kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            sudo mv kubectl-crust-gather /usr/local/bin/
      - run:
          name: Install VMExporter
          command: |
            wget https://github.com/VictoriaMetrics/vmgather/releases/download/v1.5.0/vmgather-v1.5.0-linux-amd64
            sudo mv vmgather-v1.5.0-linux-amd64 /usr/local/bin/vmexporter
            sudo chmod +x /usr/local/bin/vmexporter
      - run:
          name: Run e2e tests
          no_output_timeout: 30m
          command: |
            export PATH="$PATH:$(go env GOPATH)/bin"
            kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
            kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
            REPORT_DIR="/tmp/allure-results/kind-smoke-test-<<parameters.vm_version>>"
            mkdir -p "${REPORT_DIR}"
            ginkgo -v \
              -procs=1 \
              -timeout=30m \
              --label-filter=${LABEL_FILTER} \
              ./tests/smoke_test \
              -- \
              -env-k8s-distro=kind \
              -vmtag=<< parameters.vm_version >> \
              -report="${REPORT_DIR}"
            ls -la ${REPORT_DIR}
      - when:
          condition: on_fail
          steps:
          - persist_to_workspace:
              root: /tmp/allure-results
              paths:
                - .

  gke-test:
    executor: go-executor
    parameters:
      cluster_name:
        type: string
      test_suite:
        type: string
      vm_version:
        type: string
      procs:
        type: integer
      timeout:
        type: string
    environment:
      LABEL_FILTER: gke
    steps:
      - checkout
      - run: go mod download
      - run: go install github.com/onsi/ginkgo/v2/ginkgo
      - run:
          name: Install helm
          command: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - run:
          name: Install crust-gather
          command: |
            wget https://github.com/crust-gather/crust-gather/releases/download/v0.11.1/kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            tar -xvf kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            sudo mv kubectl-crust-gather /usr/local/bin/
      - run:
          name: Install VMExporter
          command: |
            wget https://github.com/VictoriaMetrics/vmgather/releases/download/v1.5.0/vmgather-v1.5.0-linux-amd64
            sudo mv vmgather-v1.5.0-linux-amd64 /usr/local/bin/vmexporter
            sudo chmod +x /usr/local/bin/vmexporter
      - gcp-cli/install:
          components: gke-gcloud-auth-plugin
      - gcp-cli/setup:
          gcloud_service_key: GOOGLE_CREDENTIALS
          google_project_id: GCLOUD_PROJECT_ID
      - terraform/install
      - run:
          name: Retrieve terraform variables
          command: echo $TF_VAR_BASE64 | base64 --decode > terraform/gke/terraform.tfvars
      - terraform/apply:
          path: terraform/gke
          var: "cluster_name=<<parameters.cluster_name>>-${CIRCLE_BUILD_NUM}"
      - persist_to_workspace:
          root: .
          paths:
            - ./terraform/gke
      - gke/update-kubeconfig-with-credentials:
          cluster: <<parameters.cluster_name>>-${CIRCLE_BUILD_NUM}
          additional_args: "--region=europe-central2"
      - run:
          name: create admin serviceaccount kubeconfig
          command: |
            gcloud components install kubectl
            kubectl -n kube-system create serviceaccount cluster-admin
            kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --serviceaccount=kube-system:cluster-admin
            kubectl -n kube-system create token --duration=24h cluster-admin > /tmp/token.txt
            kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' | base64 -d > /tmp/ca.txt
            kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.server}' > /tmp/server.txt
            export KUBECONFIG=/tmp/kubeconfig.yaml
            kubectl config set-cluster gke --server=$(cat /tmp/server.txt) --certificate-authority=/tmp/ca.txt --embed-certs=true
            kubectl config set-credentials cluster-admin --token=$(cat /tmp/token.txt)
            kubectl config set-context production --cluster gke --user cluster-admin
            kubectl config use-context production
      - run:
          name: Install ingress controller
          command: |
            kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
            kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
      - run:
          name: Add helm repos
          command: |
            helm repo add vm https://victoriametrics.github.io/helm-charts/
            helm repo add chaos-mesh https://charts.chaos-mesh.org
            helm repo update
      - run:
          name: Run e2e tests
          no_output_timeout: 30m
          command: |
            export PATH="$PATH:$(go env GOPATH)/bin"
            export KUBECONFIG=/tmp/kubeconfig.yaml
            REPORT_DIR="./allure-results/<<parameters.test_suite>>-<<parameters.vm_version>>"
            mkdir -p "${REPORT_DIR}"
            ginkgo -v \
              -procs=<<parameters.procs>> \
              -timeout=<<parameters.timeout>> \
              --label-filter=${LABEL_FILTER} \
              ./tests/<<parameters.test_suite>> \
              -- \
              -env-k8s-distro=gke \
              -vmtag=<< parameters.vm_version >> \
              -report="${REPORT_DIR}"
      - when:
          condition: on_fail
          steps:
          - persist_to_workspace:
              root: .
              paths:
                - allure-results

  cleanup:
    executor: go-executor
    steps:
      - attach_workspace:
          at: .
      - terraform/install
      - terraform/destroy:
          path: terraform/gke
      - gcp-cli/install:
          components: gke-gcloud-auth-plugin
      - gcp-cli/setup:
          gcloud_service_key: GOOGLE_CREDENTIALS
          google_project_id: GCLOUD_PROJECT_ID
      - run:
          name: Remove unused disks
          command: gcp-cli compute disks delete --quiet $(gcp-cli compute disks list --filter="-users:*" --format "value(name)") --region=${GCP_REGION} || true

  deploy-report:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - store_artifacts:
          path: allure-results
      - run:
          name: Generate Allure Report
          command: |
            ls -la ./allure-results
            npx allure awesome --single-file -o /tmp/allure-report ./allure-results
      - store_artifacts:
          path: /tmp/allure-report

parameters:
  default_vm_version:
    type: string
    default: "v1.133.0"

x-vm-versions: &vm_versions
  vm_version:
    - "<< pipeline.parameters.default_vm_version >>"
    # - "v1.133.0-enterprise"
    # - "v1.122.10-enterprise"
    # - "v1.110.25-enterprise"

workflows:
  version: 2
  pr-smoke-tests:
    jobs:
      - unit-tests:
          filters:
            branches:
              ignore: main
      - kind-smoke-test:
          name: kind-pr-test
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - unit-tests
          filters:
            branches:
              ignore: main

  main-branch-tests:
    jobs:
      - unit-tests:
          filters:
            branches:
              only: main
      - kind-smoke-test:
          name: kind-smoke-test
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - unit-tests
          filters:
            branches:
              only: main
          context:
            - gcp-credentials
      # - gke-test:
      #     name: gke-smoke-test
      #     cluster_name: smoke
      #     test_suite: "smoke_test"
      #     procs: 1
      #     timeout: 30m
      #     requires:
      #       - kind-smoke-test
      #     filters:
      #       branches:
      #         only: main
      #     matrix:
      #       alias: gke-smoke-test-matrix
      #       parameters:
      #         <<: *vm_versions
      #     context:
      #       - gcp-credentials
      # - gke-test:
      #     name: gke-load-test
      #     cluster_name: load
      #     test_suite: "load_test"
      #     procs: 1
      #     timeout: 30m
      #     requires:
      #       - gke-smoke-test-matrix
      #     filters:
      #       branches:
      #         only: main
      #     matrix:
      #       alias: gke-load-test-matrix
      #       parameters:
      #         <<: *vm_versions
      #     context:
      #       - gcp-credentials
      # - gke-test:
      #     name: gke-chaos-test
      #     cluster_name: chaos
      #     test_suite: "chaos_test"
      #     procs: 10
      #     timeout: 180m
      #     requires:
      #       - gke-smoke-test-matrix
      #     filters:
      #       branches:
      #         only: main
      #     matrix:
      #       alias: gke-chaos-test-matrix
      #       parameters:
      #         <<: *vm_versions
      #     context:
      #       - gcp-credentials
      - deploy-report:
          requires:
            - kind-smoke-test:
              - success
              - failed
              - canceled
            # - gke-smoke-test-matrix:
            #   - success
            #   - failed
            #   - canceled
            # - gke-chaos-test-matrix:
            #   - success
            #   - failed
            #   - canceled
            # - gke-load-test-matrix:
            #   - success
            #   - failed
            #   - canceled
          filters:
            branches:
              only: main
          context:
            - github
      # - cleanup:
      #     name: gke-smoke-test-cleanup
      #     requires:
      #       - gke-smoke-test:
      #         - success
      #         - failed
      #         - canceled
      #     filters:
      #       branches:
      #         only: main
      #     context:
      #       - github
      # - cleanup:
      #     name: gke-load-test-cleanup
      #     requires:
      #       - gke-load-test:
      #         - success
      #         - failed
      #         - canceled
      #     filters:
      #       branches:
      #         only: main
      #     context:
      #       - github
      # - cleanup:
      #     name: gke-chaos-test-cleanup
      #     requires:
      #       - gke-chaos-test:
      #         - success
      #         - failed
      #         - canceled
      #     filters:
      #       branches:
      #         only: main
      #     context:
            - github
