version: 2.1

orbs:
  go: circleci/go@3.0.3
  gke: circleci/gcp-gke@2.3.0
  gcp-cli: circleci/gcp-cli@3.3.2
  terraform: circleci/terraform@3.7.0
  node: circleci/node@5.0.2

executors:
  go-executor:
    docker:
      - image: cimg/go:1.25
  machine-executor:
    machine:
      image: ubuntu-2204:current
    resource_class: large

jobs:
  unit-tests:
    executor: go-executor
    steps:
      - checkout
      - run:
          name: Download go packages
          command: go mod download
      - run:
          name: Run unit tests
          command: go test ./pkg/... -v -failfast

  kind-smoke-test:
    executor: machine-executor
    parameters:
      vm_version:
        type: string
    environment:
      LABEL_FILTER: kind
    steps:
      - checkout
      - run: go mod download
      - run: go install github.com/onsi/ginkgo/v2/ginkgo
      - run:
          name: Install kubectl
          command: |
              curl -LO "https://dl.k8s.io/release/v1.35.0/bin/linux/amd64/kubectl"
              chmod +x kubectl
              sudo mv kubectl /usr/local/bin/kubectl
      - run:
          name: Install helm
          command: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - run:
          name: Create Kind cluster
          command: |
            curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
            chmod +x ./kind
            sudo mv ./kind /usr/local/bin/kind
            kind create cluster --config manifests/kind.yaml
      - run:
          name: Add helm repo
          command: |
            helm repo add vm https://victoriametrics.github.io/helm-charts/
            helm repo update
      - run:
          name: Install crust-gather
          command: |
            wget https://github.com/crust-gather/crust-gather/releases/download/v0.11.1/kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            tar -xvf kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            sudo mv kubectl-crust-gather /usr/local/bin/
      - run:
          name: Install VMExporter
          command: |
            wget https://github.com/VictoriaMetrics/vmgather/releases/download/v1.5.0/vmgather-v1.5.0-linux-amd64
            sudo mv vmgather-v1.5.0-linux-amd64 /usr/local/bin/vmexporter
            sudo chmod +x /usr/local/bin/vmexporter
      - run:
          name: Run e2e tests
          no_output_timeout: 30m
          command: |
            export PATH="$PATH:$(go env GOPATH)/bin"
            kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
            kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
            REPORT_DIR="/tmp/allure-results/kind-smoke-test-<<parameters.vm_version>>"
            mkdir -p "${REPORT_DIR}"
            ginkgo -v \
              -procs=1 \
              -timeout=30m \
              --label-filter=${LABEL_FILTER} \
              ./tests/smoke_test \
              -- \
              -env-k8s-distro=kind \
              -vmtag=<< parameters.vm_version >> \
              -report="${REPORT_DIR}" || true
      - when:
          condition: always
          steps:
          - persist_to_workspace:
              root: /tmp
              paths:
                - allure-results

  gke-test:
    executor: go-executor
    parameters:
      test_suite:
        type: string
      vm_version:
        type: string
      procs:
        type: integer
      timeout:
        type: string
    environment:
      LABEL_FILTER: gke
    steps:
      - checkout
      - run: go mod download
      - run: go install github.com/onsi/ginkgo/v2/ginkgo
      - run:
          name: Install helm
          command: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - run:
          name: Install crust-gather
          command: |
            wget https://github.com/crust-gather/crust-gather/releases/download/v0.11.1/kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            tar -xvf kubectl-crust-gather_0.11.1_linux_amd64.tar.gz
            sudo mv kubectl-crust-gather /usr/local/bin/
      - run:
          name: Install VMExporter
          command: |
            wget https://github.com/VictoriaMetrics/vmgather/releases/download/v1.5.0/vmgather-v1.5.0-linux-amd64
            sudo mv vmgather-v1.5.0-linux-amd64 /usr/local/bin/vmexporter
            sudo chmod +x /usr/local/bin/vmexporter
      - gcp-cli/install:
          components: gke-gcloud-auth-plugin
      - gcp-cli/setup:
          gcloud_service_key: GOOGLE_CREDENTIALS
          google_project_id: GCLOUD_PROJECT_ID
      - terraform/install
      - run:
          name: Make a copy of terraform resources
          command: |
            cp -r terraform/gke terraform/gke_<<parameters.test_suite>>
      - run:
          name: Retrieve terraform variables
          command: echo $TF_VAR_BASE64 | base64 --decode > terraform/gke_<<parameters.test_suite>>/terraform.tfvars
      - terraform/apply:
          path: terraform/gke_<<parameters.test_suite>>
          var: "cluster_name=<<parameters.test_suite>>-${CIRCLE_BUILD_NUM}"
      - persist_to_workspace:
          root: .
          paths:
            - ./terraform/gke_<<parameters.test_suite>>
      - gke/update-kubeconfig-with-credentials:
          cluster: <<parameters.test_suite>>-${CIRCLE_BUILD_NUM}
          additional_args: "--region=europe-central2"
      - run:
          name: create admin serviceaccount kubeconfig
          command: |
            gcloud components install kubectl
            kubectl -n kube-system create serviceaccount cluster-admin
            kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --serviceaccount=kube-system:cluster-admin
            kubectl -n kube-system create token --duration=24h cluster-admin > /tmp/token.txt
            kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' | base64 -d > /tmp/ca.txt
            kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.server}' > /tmp/server.txt
            export KUBECONFIG=/tmp/kubeconfig.yaml
            kubectl config set-cluster gke --server=$(cat /tmp/server.txt) --certificate-authority=/tmp/ca.txt --embed-certs=true
            kubectl config set-credentials cluster-admin --token=$(cat /tmp/token.txt)
            kubectl config set-context production --cluster gke --user cluster-admin
            kubectl config use-context production
      - run:
          name: Install ingress controller
          command: |
            kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
            kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
      - run:
          name: Add helm repos
          command: |
            helm repo add vm https://victoriametrics.github.io/helm-charts/
            helm repo add chaos-mesh https://charts.chaos-mesh.org
            helm repo update
      - run:
          name: Run e2e tests
          no_output_timeout: 30m
          command: |
            export PATH="$PATH:$(go env GOPATH)/bin"
            export KUBECONFIG=/tmp/kubeconfig.yaml
            REPORT_DIR="/tmp/allure-results/<<parameters.test_suite>>-<<parameters.vm_version>>"
            mkdir -p "${REPORT_DIR}"
            ginkgo -v \
              -procs=<<parameters.procs>> \
              -timeout=<<parameters.timeout>> \
              --label-filter=${LABEL_FILTER} \
              ./tests/<<parameters.test_suite>>_test \
              -- \
              -env-k8s-distro=gke \
              -vmtag=<< parameters.vm_version >> \
              -report="${REPORT_DIR}" || true
      - persist_to_workspace:
          root: /tmp
          paths:
            - allure-results

  cleanup:
    executor: go-executor
    resource_class: small
    parameters:
      test_suite:
        type: string
    steps:
      - attach_workspace:
          at: .
      - terraform/install
      - terraform/destroy:
          path: terraform/gke_<<parameters.test_suite>>
      - gcp-cli/install:
          components: gke-gcloud-auth-plugin
      - gcp-cli/setup:
          gcloud_service_key: GOOGLE_CREDENTIALS
          google_project_id: GCLOUD_PROJECT_ID
      - run:
          name: Remove unused disks
          command: |
            gcp-cli compute disks delete --quiet $(gcp-cli compute disks list --filter="-users:*" --format "value(name)") --zone=${GCP_REGION}a || true
            gcp-cli compute disks delete --quiet $(gcp-cli compute disks list --filter="-users:*" --format "value(name)") --zone=${GCP_REGION}b || true
            gcp-cli compute disks delete --quiet $(gcp-cli compute disks list --filter="-users:*" --format "value(name)") --zone=${GCP_REGION}c || true

  deploy-report:
    executor: node/default
    resource_class: small
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Generate Allure Report
          command: |
            for dir in $(find /tmp/allure-results -type d -maxdepth 1); do
              npx allure awesome --single-file -o $dir/allure-report $dir
            done
      - store_artifacts:
          path: /tmp/allure-results

  waiter:
    docker:
      - image: cimg/node:current
    steps:
      - run: |
          while [[ $(curl --location --request GET "https://circleci.com/api/v2/workflow/$CIRCLE_WORKFLOW_ID/job" --header "Circle-Token: $CCI_TOKEN"| jq -r '.items[]|select(.name != "waiter")|.status' | grep -c "running") -gt 0 ]]
            do
              sleep 5
            done
      - run: echo "All required jobs have now completed"

parameters:
  default_vm_version:
    type: string
    default: "v1.134.0"
    #default: "v1.133.0-enterprise"
    #default: "v1.122.10-enterprise"
    #default: "v1.110.25-enterprise"

workflows:
  version: 2
  pr-smoke-tests:
    when: pipeline.git.branch != "main"
    jobs:
      - unit-tests
      - gke-test:
          name: gke-distributed
          test_suite: distributed
          procs: 1
          timeout: 90m
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - unit-tests
      - cleanup:
          name: gke-distributed-cleanup
          test_suite: distributed
          requires:
            - gke-distributed:
              - success
              - failed
              - canceled
      - deploy-report:
          requires:
            - gke-distributed-cleanup

  main-branch-tests:
    when: pipeline.git.branch == "main"
    jobs:
      - unit-tests
      - kind-smoke-test:
          name: kind-smoke-test
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - unit-tests
      - gke-test:
          name: gke-smoke
          test_suite: smoke
          procs: 1
          timeout: 90m
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - kind-smoke-test
      - cleanup:
          name: gke-smoke-cleanup
          test_suite: smoke
          requires:
            - gke-smoke:
              - success
              - failed
              - canceled
      - gke-test:
          name: gke-load
          test_suite: load
          procs: 1
          timeout: 90m
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - kind-smoke-test
      - cleanup:
          name: gke-load-cleanup
          test_suite: load
          requires:
            - gke-load:
              - success
              - failed
              - canceled
      - gke-test:
          name: gke-vmcluster
          test_suite: vmcluster
          procs: 1
          timeout: 90m
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - kind-smoke-test
      - cleanup:
          name: gke-vmcluster-cleanup
          test_suite: vmcluster
          requires:
            - gke-vmcluster:
              - success
              - failed
              - canceled
      - gke-test:
          name: gke-chaos
          test_suite: chaos
          procs: 10
          timeout: 90m
          vm_version: << pipeline.parameters.default_vm_version >>
          requires:
            - kind-smoke-test
      - cleanup:
          name: gke-chaos-cleanup
          test_suite: chaos
          requires:
            - gke-chaos:
              - success
              - failed
              - canceled
      - deploy-report:
          requires:
            - gke-smoke-cleanup:
              - success
              - failed
              - canceled
            - gke-load-cleanup:
              - success
              - failed
              - canceled
            - gke-chaos-cleanup:
              - success
              - failed
              - canceled
            - gke-vmcluster-cleanup:
              - success
              - failed
              - canceled
