apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vmagent
spec:
  resources:
    limits:
      cpu: 50m
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 100Mi
