apiVersion: operator.victoriametrics.com/v1beta1
kind: VMSingle
metadata:
  name: vmsingle
spec:
  resources:
    limits:
      cpu: 500m
      memory: 1500Mi
    requests:
      cpu: 10m
      memory: 500Mi
  storage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
