name: "Pull Request Smoke Tests"

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, labeled]
  pull_request_target:
    branches:
      - main
    types: [opened, synchronize, reopened, labeled]

env:
  SUITE_SMOKE: "smoke_test"
  GH_PAGES_URL: "https://victoriametrics.github.io/end-to-end-tests"

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true
        id: go

      - name: Download go packages
        run: |
          go mod download

      - name: Run unit tests
        run: |
          go test -race -v ./pkg/...

  gke-test:
    name: GKE test
    runs-on: ubuntu-latest
    needs: unit-tests
    outputs:
      tests: ${{ steps.tests.outcome }}
    permissions:
      checks: write
      contents: write
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    env:
      LABEL_FILTER: gke
      VM_VERSION: "v1.131.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true
        id: go

      - name: Install ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo

      - name: Download go packages
        run: |
          go mod download

      - name: Install helm
        uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helm
            kubectl

      - name: Add helm repo
        run: |
          helm repo add vm https://victoriametrics.github.io/helm-charts/
          helm repo update

      - name: Install crust-gather
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: crust-gather/crust-gather
          platform: linux
          arch: amd64

      - name: Install VMExporter
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: VictoriaMetrics/support
          platform: linux
          arch: amd64
          token: ${{ secrets.PAT }}
          extension-matching: disable
          rename-to: vmexporter
          chmod: 0755

      - name: Google Auth
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - uses: "google-github-actions/setup-gcloud@v2"
        with:
          install_components: "gke-gcloud-auth-plugin"

      - name: Retrieve terraform variables
        env:
          TF_VAR_BASE64: ${{ secrets.TF_VAR_BASE64 }}
        run: |
          echo $TF_VAR_BASE64 | base64 --decode > terraform/gke/terraform.tfvars

      - name: terraform apply
        id: tests-infra
        uses: dflook/terraform-apply@v2
        with:
          path: terraform/gke
          workspace: main
          variables: |
            cluster_name = "pr-test-${{ github.run_number }}"
          auto_approve: true

      - name: Authenticate to GKE cluster
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ steps.tests-infra.outputs.cluster_name }}
          location: ${{ steps.tests-infra.outputs.region }}
          project_id: ${{ steps.tests-infra.outputs.project_id }}

      - name: create admin serviceaccount kubeconfig
        id: kubeconfig
        run: |
          kubectl -n kube-system create serviceaccount cluster-admin
          kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --serviceaccount=kube-system:cluster-admin
          kubectl -n kube-system create token --duration=24h cluster-admin > /tmp/token.txt
          kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' | base64 -d > /tmp/ca.txt
          kubectl config view --raw --minify -o jsonpath='{.clusters[0].cluster.server}' > /tmp/server.txt
          export KUBECONFIG=/tmp/kubeconfig.yaml
          kubectl config set-cluster gke --server=$(cat /tmp/server.txt) --certificate-authority=/tmp/ca.txt --embed-certs=true
          kubectl config set-credentials cluster-admin --token=$(cat /tmp/token.txt)
          kubectl config set-context production --cluster gke --user cluster-admin
          kubectl config use-context production

      - name: Run e2e tests
        id: tests
        run: |
          export PATH="$PATH:$(go env GOPATH)/bin"
          mkdir -p /tmp/allure-results
          ginkgo -v \
            -procs=0 \
            -github-output=true \
            -timeout=30m \
            --label-filter=${{ env.LABEL_FILTER }} \
            ./tests/${{ env.SUITE_SMOKE }} \
            -- \
            -env-k8s-distro=kind \
            -vmtag=${{ matrix.vm_version }} \
            -report=/tmp/allure-results

      - name: terraform destroy
        uses: dflook/terraform-destroy-workspace@v2
        if: always()
        with:
          path: terraform/gke
          workspace: main

      - name: Remove unused disks
        if: always()
        run: |
          gcloud compute disks delete --quiet $(gcloud compute disks list --filter="-users:*" --format "value(name)") --region=${{ steps.tests-infra.outputs.region }} || true

      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gke-${{ env.SUITE_SMOKE }}-${{ matrix.vm_version }}
          path: /tmp/allure-results
